html, body {
    height: 100%;
    margin: 0;
    overflow: hidden;
}
.inline{
    display: inline;
}
#map-id {
    height: 100%;
    width: 100%;
}

#address_container{
    position: absolute;
    right: 0;
    top: 0;
    z-index: 1000;
    width: auto;
    height: auto;
    background-color: white;
    width: 250px;
}

.form-map{
    border: 2px solid black;
    padding: 10px;
}

.button-submit{
    float: right;
}

.input{
    border: 2px solid black;
    width: 100%;
    margin-bottom: 8px;
}

.info-box{
    border-left: 2px solid black;
    border-right: 2px solid black;
    border-bottom: 2px solid black;
    padding: 10px;
}

.button-bar-center{
    text-align: center;
}

.button{
    margin: 0 5px;
    border: 0px;
    padding: 6px;
}

.danger{
    background-color: rgb(219, 22, 22);
    color: white;
}
.caution{
    background-color: rgb(255, 217, 0);
}